body{
margin:0;
font-family:Segoe UI;
background:#f5f7fa;
}

nav{
background:#111;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

.hero{
background:#2563eb;
color:white;
text-align:center;
padding:90px 20px;
}

.tagline{font-size:20px;}
.desc{max-width:600px;margin:auto;}

.btn{
display:inline-block;
margin-top:20px;
background:white;
color:#2563eb;
padding:12px 25px;
border-radius:25px;
text-decoration:none;
font-weight:bold;
}

.cards{
display:flex;
justify-content:center;
flex-wrap:wrap;
padding:40px;
}

.card{
background:white;
width:250px;
margin:15px;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
text-align:center;
}
